.contenedor{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

.pruebaFilter{
    display: flex;
    flex-direction: row;
}
